<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <group groupName="exm.messageEvents">
        <pipelines>
          <redirectUrl>
            <processor patch:instead="*[@type='Sitecore.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.IdentifyContact, Sitecore.EmailCampaign']" type="Sitecore.Support.Modules.EmailCampaign.Core.Pipelines.RedirectUrl.IdentifyContact, Sitecore.Support.74832">
            </processor>
          </redirectUrl>
        </pipelines>
      </group>
    </pipelines>
  </sitecore>
</configuration>
